<nav>
    <h1>Hola Tobajas</h1>
    <button>Logout</button>
</nav>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptates quaerat exercitationem nemo reprehenderit. Accusantium, quis provident. Nemo dignissimos minima dolorem aliquid dolorum vero, placeat adipisci, libero harum incidunt iure!</p>
